#pestaña {
	margin-top: 80px;
	background-color: #ccc;
	width: 240px;
	height: 1000px;
	margin-left: -240px;
	-webkit-transition: all .2s ease-in-out; /*propiedad de transisiones*/
}

#pestaña ul{
	list-style-type: none;
}

#pestaña ul li{
	height: 80px;
	padding-top: 35px;
	box-sizing: border-box;/*para que el padding no modifique el tamaño del div*/2
	font-family: Roboto;
	font-size: 120%; /* Tamaño de texto*/
}


#pestaña ul li a{
	text-decoration: none;
	color: #4d180d;
	display: block; 

}
#redes {
	margin-top: 30px;
}

#like{
	width: 186px;
	height: 238px;
	margin: auto;
}