#titulo {
	text-align: center; /* Alineación de texto al centro de la página*/
	color: #4d180d; /* Color de texto*/
	font-family: Roboto; /* Tipo de letra en tipo Roboto*/
	font-variant-caps: small-caps; /* Letras en mayúsculas y las iniciales en mayor tamaño*/
	font-size: 400%; /* Tamaño de texto*/
	line-height: 100px; /* Grosor de las letras del texto*/
	font-stretch: 100PX; /* Extensión de la cara de fuente expandida*/
	font-weight: normal; /* Especifica el peso en bold (negritas) de la fuente*/
	letter-spacing: 0.5em; /* Espaciado que existe entre letras en el texto*/
}

body {
	background-image: url("3.jpg");  /* Imagen de fondo*/
	margin: 0; /* Maergen en 0 de la cabecera fija*/
	padding: 0; /* Padding en 0 de la cabecera fija*/
	padding-top: 130px; /* Relleno superior igual a la altura de la cabecera*/

}

#line-head {
	background: #333; /* cabecera fija en color gris */
	height: 80px; /* Tamaño de la barra en la cabecera fija */
	width: 100%; /* La cabecera ocupa el ancho completo de la página */
	left: 0; /* Posición de la cabecera al lado izquierdo */
	top: 0; /* Posición de la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	
}

.userdata{	/* Intrucciones de ajuste a las barras de validación de datos */
	float: right;
	color: white;
	padding-right:10px;
	font-family: verdana;
	padding-top: 36px;
	font-size: 100%;
 }

#img{	/* cabecera fija en color gris */
	float: left;		
	padding-left:30px;
	padding-top: 17px;

 }

.img-aling{
	clear: none;
	height: 500px;
	float: left;
	margin-left: 230px;

}

.content {
	text-align: justify;
    margin: 20px;
    padding-top: 0px;
    color: white;
    font-size: 120%;

 }

.div-leftup{
	margin-left: 50px;
	width: 400px;
	height: 500px;
	float: left;
	background-color:rgba(100,0,0, 0.5);

}

.div-global{
	height: 500px;

}

.div-rightup{
	margin-right: 50px;
	width: 400px;
	height: 500px;
	float: right;
	background-color:rgba(100,0,0, 0.5);

}

.div-center{
	padding-top:5px;
	height: 250px;
	width: 700px;
	margin: auto;
	background-color:rgba(100,0,0, 0.5);

}

.subtitulo{
 	text-align: center; 
	color: white; /* Color de texto*/
	font-family: Roboto; /* Tipo de letra en tipo Roboto*/
	font-variant-caps: small-caps; /* Letras en mayúsculas y las iniciales en mayor tamaño*/
	font-size: 150%; /* Tamaño de texto*/
	line-height: 40px; /* Grosor de las letras del texto*/
	font-stretch: 80PX; /* Extensión de la cara de fuente expandida*/
	font-weight: normal; /* Especifica el peso en bold (negritas) de la fuente*/
	letter-spacing: 0.4em;
}
